:root {
    --color-1: #332235;
    --color-2: #163d73;
    --color-3: #9b9c9b;
    --color-4: #dfe1df;
    --color-5: #0d93e6;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 150%;
}

body {
    background-color: var(--color-1);
    color: var(--color-4);

    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--color-3);
    font-size: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreboard {
    margin: 1rem;
    border: 3px solid;
    border-color: var(--color-2);
    display: flex;
    align-items: center;
}

#scoreboard .badge {
    margin: 2em;
    color: var(--color-3);
}

#scoreboard .score {
    margin: 0.1em;
    font-size: 5em;
    color: var(--color-5);
}

#team-selection {
    display: flex;
    justify-content: space-around;
}

#team-selection .team-icon {
    margin: 1em;
    padding: 1em;
    border: 2px solid;
    border-radius: 100%;
    border-color: var(--color-3);
}

#team-selection .team-icon:hover {
    background-color: var(--color-2);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
